{% extends "base.html" %}

{% block loginlogoutbtn %}
    <a class="btn btn-outline-success" href="{% url "logout" %}" role="button">Signout</a>
{% endblock loginlogoutbtn %}

{% block homecontent %}

    <div class="container pt-3">
        {% comment %} list out all active polls {% endcomment %}
        
        {% for poll in poll_list %}
          <div class="card my-3">

              {% comment %} hading of active poll {% endcomment %}
              <div class="card-header">
                <div class="row">
                  <div class="col-9">
                      <span class="d-inline border border-primary rounded-circle">H</span>
                      <p class="d-inline">{{poll.user}}</p>
                  </div>

                  <div class="col-3">
                      <p class="m-0">Posted on: {{poll.published_on}}</p>
                      <p class="m-0">Ended on: {{poll.close_on}}</p>
                  </div>
                </div>
              </div>


              <div class="card-body">
                  <h5 class="card-text">{{poll.poll_question}}</h5>


                  {% comment %} iterate whole below div for choices{% endcomment %}
                  <div class="w-50">
                    <canvas id="myChart{{poll.poll_id}}"></canvas>
                  </div>

              </div>     
          </div>
        {% endfor %}

    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      {% for poll in poll_list %}
        const ctx{{poll.poll_id}} = document.getElementById('myChart{{poll.poll_id}}');
        new Chart(ctx{{poll.poll_id}}, {
          type: 'bar',
          data: {
            labels: [{% for choice in poll.choice %} '{{choice.choice_discription}}', {% endfor %}],
            datasets: [{
              label: '# of Votes',
              data: [{% for choice in poll.choice %} {{choice.vote_count}}, {% endfor %}],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      {% endfor %}
    </script>

{% endblock homecontent %}
